body {
    background: rgb(47, 47, 47); 
    font-family: Verdana;
    font-size: 14px;
    text-align: center;
}

a {
    color: rgb(0, 90, 163);
}

.banner {
    width: 100%;
    background-color:crimson;
    padding: 1px;
    margin-bottom: 12px;
}

.banner p {
    color: white;
    text-align: center;
}

.text-area {
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
    width: 80%;
    background: #F3FBF9;
    margin-bottom: 12px;
}

.textarea p {
    text-align: justify;
}